<div class="double-column">
  <div class="row">
    <div class="logo">
      <a href="../index.html">
        <img src="../images/Animal_Crossing_Leaf.svg" />
      </a>
    </div>
    <h1>ACNH-CC</h1>
  </div>
</div>
<div class="column">
  <div id="date-time"></div>
</div>
<div class="double-column">
  <div class="row right-align">
    <div class="search">
      <input type="search" name="search" />
      <input
        type="image"
        class="search-icon"
        name="submit"
        src="../images/magnifying-glass-solid.svg"
      />
    </div>
  </div>
  <div class="row right-align">
    <nav id="main-nav">
      <ul class="page-links">
        <div class="row">
          <li><i class="fa-solid fa-heart fav">Favorites</i></li>
          <li><i class="fa-solid fa-circle-check collected">My Collection</i></li>
          <li>test</li>
        </div>
      </ul>
      <nav></nav>
    </nav>
  </div>
</div>
