<div class="double-column">
  <div class="row go-home">
    <div class="logo">
      <a href="../index.html">
        <img src="../images/Animal_Crossing_Leaf.svg" />
      </a>
    </div>
    <h1>ACNH-CC</h1>
  </div>
</div>
<div class="column">
  <a href="/events/index.html" class="event-button">
    <div class="button-content">
      <div id="date-time"></div>
    </div>
  </a>
</div>
<div class="double-column">
  <div class="row right-align bottom">
    <nav id="main-nav">
      <ul class="page-links">
        <div class="row nav">
          <li class="column">
            <div class="row nav-icons">
              <a class="nav-icon fish" href="/creatures/?category=fish"
                ><img src="../images/link-icons/icon_fish.png" alt="fish"
              /></a>
              <a class="nav-icon bugs" href="/creatures/?category=bugs"
                ><img src="../images/link-icons/icon_bug.png" alt="bugs"
              /></a>
              <a class="nav-icon sea" href="/creatures/?category=sea"
                ><img
                  src="../images/link-icons/icon_sea.png"
                  alt="sea-creatures"
              /></a>
              <a class="nav-icon villagers" href="/villagers/index.html"
                ><img
                  src="../images/link-icons/icon_villager.png"
                  alt="villagers"
              /></a>
            </div>
          </li>
          <li class="column">
            <a href="/favorites/index.html"
              ><i class="fa-solid fa-heart fav">Favorites</i></a
            >
          </li>
          <li class="column">
            <a href="/my-collection/index.html"
              ><i class="fa-solid fa-circle-check collected">Collection</i></a
            >
          </li>
        </div>
      </ul>
    </nav>
  </div>
</div>
